<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="false" thread-count="3" configfailurepolicy="continue">
	<test name="Run on FIREFOX" annotations="JDK" preserve-order="true">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="TestRunner" />
		</classes>
	</test>

	<test name="Run on CHROME" annotations="JDK" preserve-order="true">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="TestRunner" />
		</classes>
	</test>

<!-- 	<test name="Run on CHROME HEADLESS" annotations="JDK" preserve-order="true"> -->
<!-- 		<parameter name="browser" value="headlesschrome" /> -->
<!-- 		<classes> -->
<!-- 			<class name="TestRunner" /> -->
<!-- 		</classes> -->
<!-- 	</test> -->

</suite>